*.DS_Store
**/__pycache__/
*.egg-info/
**/.ipynb_checkpoints/

ssl_neuron/data/skeletons/
ssl_neuron/ckpts
ssl_neuron/ckpts_old
ssl_neuron/ckpts_with_type/
ssl_neuron/ckpts_*/
*.pt
ssl_neuron/data/cell_types/
ssl_neuron/demos/figures/tsne_interactive_with_type.html
